<div class="d-flex flex-column text-start">
    <br>
    <div class="row">
        <div class="col-2">
            <img src="{{image}}" class="img-thumbnail" alt="movie image">
        </div>



        <div class="col-8">
            <a href="/movies" class="fs-6">Go back</a>
            <p class="fs-4 fw-bold">{{title}}</p>
            <p class="fs-5 fw-bold"> {{director}} </p>
            <p class="fs-5 fw-bold">Stars </p>
            {{#each stars}}
            <ul class="lh-1">
                <li>{{this}}</li>
            </ul>

            {{/each}}
            </p>
            <p class="lh-1"> {{description}} </p>
            <p>
                {{#each showtimes}}
                {{this}} |
                {{/each}}
            </p>
        </div>
    </div>



</div>